.app{
  width: 550px;
  padding: 15px;
  cursor: default;
  background-color: rgba(255,255,255,0.5);
  will-change: background-color, transform;
  @include flexbox();
  @include align-items(center);
  @include transition(all,ease-out,0.2s);

  figure{
    width: 46px;
    height: 46px;
    margin: 0 15px 0 0;
    padding: 0;
    img{
      width: 100%;
      height: auto;
    }
  }
  p{
    margin: 0;
    @include flex(5 0);
    font-weight: bold;
    font-size: 20px;
    span{
      font-weight: normal;
      font-size: 14px;
    }
  }
  .right-bar{
    .status {
      font-size: 14px;
      &.green{
        color: #44AF47;
      }
      &.orange{
        color: #FF980E;
      }
      &.red{
        color: #FF1A0E;
      }
    }
    .action-bar {
      display: none;
      margin-bottom: -5px;
      a{
        margin-left: 4px;
        &:hover{
          opacity: 0.4;
        }
      }
    }
  }
  &:hover {
    background-color: rgba(255,255,255,1);
    box-shadow: 0 6px 6px 1px rgba(0, 0, 0, 0.16);
    .right-bar {
      .status {
        display: none;
      }
      .action-bar {
        display: block;
      }
    }
  }
  
  &.loading {
    .right-bar {
      .status {
        display: inline-block !important;
      }
      .status:before {
        content: "";
        margin-right: 5px;
        margin-top: -2px;
        display: inline-block;
        background-image: url(../images/spinner.gif);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }
      .action-bar {
        display: none !important;
      }
    }
  }
}

@media only screen and (max-width: 759px){
  .app{
    display: block;
    width: 94%;
    margin: 0 2%;
    background-color: #fff;
    padding: 12px;
    figure{
      margin-right: 5px;
      width: 40px;
      height: 40px;
    }
    p{
      font-size: 16px;
      span{
        font-size: 12px;
      }
    }
    figure, p{
      display: inline-block;
      vertical-align: middle;
    }
    .right-bar{
      display: block;
      width: 100%;
      border-top: 1px solid #E6E6E6;
      height: 32px;
      margin-top: 12px;
      span{
        line-height: 42px;
        font-size: 12px;
      }
      .action-bar{
        float: right;
        display: block;
        line-height: 50px;
        a{
          margin-left: 10px;
        }
      }
    }
    &:hover{
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);     
      .right-bar{
        span{
          display: inline-block;
        }
      }
    }
  }
}

.no-apps {
  width: 550px;
  margin: 0 auto;
}

@media only screen and (max-width: 759px){
  .no-apps {
    display: block;
    width: 94%;
  }
}