input, textarea{
  border: none;
  border-bottom: 1px solid #9E9E9E;
  background-color: transparent;
  font-size: 18px;
  color: #9E9E9E;
  &:focus{
    outline: none;
    border-bottom: 1px solid $cta-orange;
    color: #333;
  }
}
input{
  transition: background-color 0.5s;
  height: 30px;
  line-height: 30px;
  &.text-right{
    text-align: right;
  }
}

textarea[disabled],
input[disabled] {
  background-color: #f2f2f2;
}

textarea {
  transition: background-color 0.5s;
  height: 50px;
  vertical-align: bottom
}

input[type=checkbox] {
  margin: -2px 3px 0 0;
  vertical-align: middle;
}

@media only screen and (max-width: 759px){
  input, textarea{
    width: 100%;
    margin: 0 0 10px;
    font-size: 14px;
  }
}