.step-bar{
  width: 450px;
  margin: 30px auto 40px;
  padding: 0;
  list-style: none;
  height: 5px;
  background-color: #DDDDDD;
  line-height: 5px;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  li{
    width: 9px;
    height: 9px;
    background-color: #BBBBBB;
    border-radius: 10px;
    position: relative;
    text-align: center;
    border: 4px solid #fff;
    span{
      display: none;
      position: absolute;
      font-size: 14px;
      top: -17px;
      left: -55px;
      width: 120px;
    }
    &.done{
      width: 17px;
      height: 17px;
      border: none;
      border-radius: 17px;
      background: url('/images/done.svg') 40% 50% no-repeat #DDDDDD;
      background-size: 60%;
    }
    &.active{
      background-color: #5892FC;
      border: 4px solid #DDDDDD;
      span{
        display: inline-block;
      }
    }
  }
}

@media only screen and (max-width: 759px){
  .step-bar{
    width: 90%;
  }
}