@font-face {
  font-family: "Protonet Text";
  src: url("../fonts/proxima_nova_cond_reg.woff") format("woff");
}

@font-face {
  font-family: "Protonet Text";
  src: url("../fonts/proxima_nova_cond_light.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Protonet Text";
  src: url("../fonts/proxima_nova_cond_bold.woff") format("woff");
  font-weight: bold;
}

html, input, button, select, textarea {
  font-family: Consolas, monospace;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  overflow: auto;
  height: 100%;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
}

input[type=text],
input[type=password],
button,
h1 {
  box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
  outline: 0;
}

.asphalt {
  background: #f3f3f3 url(../img/bg_pattern.jpg);
}

.logo {
  font-family: "Protonet Text";
  font-weight: normal;
  font-size: 26px;
  text-transform: uppercase;
  color: #4A4A4A;
  margin: 0;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login .logo {
  margin-bottom: 8px;
}

.login-input,
.login-button {
  display: inline-block;
  padding: 10px;
  border: 0;
  font-size: 1em;
}

.login-input {
  width: 84%;
  background: #fff;
  color: #444;
}

.login-button {
  width: 16%;
  background-color: #555;
  color: #ccc;
}

.login-button:before {
  content: ">";
}

button {
  font-size: 1em;
  text-transform: uppercase;
  padding: 9px;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}