.material-box{
  background-color: $white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  display: inline-block;
  padding: 15px;
  box-sizing: border-box;
  &.center{
  	margin: 0 auto;
  	vertical-align: middle;
  	
  }
}