header{
  background-color: #1A1C1F;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  .wrapper{
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
  }
  img{
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
    @include transition(all, ease-out, 0.2s);
    &:hover{
      transform: scale(1.1);
    }
    &:active{
     transform: scale(0.9); 
    }
  }
  .wrapper{
    @include flexbox;
  }
  .left{
    @include flex(5 0);
  }
  .right{
    text-align: right;
  }
}

@media only screen and (max-width: 759px){
  header{
    img{
      height: 28px;
      margin-right: 5px;
    }
    .btn{
      padding: 0 10px;
    }
  }
}