nav{
  display: block;
  width: 100%;
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  font-size: 0;
  position: relative;
  z-index: 1;
  a{
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    height: 100%;
    position: relative;
    color: #333333;
    padding: 0 20px;
    &:hover,
    &.active{
      &:after{
        content: "";
        bottom: 0;
        height: 4px;
        left: 0;
        right: 0;
        position: absolute;
        display: block;
        background-color: #FF980E;
      } 
    }
  }
}

@media only screen and (max-width: 759px) {
  nav {
    .wrapper{
      @include flexbox();
      @include justify-content(space-between);
    }
    a{
      font-size: 12px;
      padding: 0 10px;
    }
  }
}