.btn{
  display: inline-block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  line-height: 32px;
  padding: 0 35px;
  height: 30px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-align: center;
  will-change: opacity, transform;
  @include transition(all,ease-out,0.2s);
  &:focus{
    outline: none;
  }
  &:hover{
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.30), 0 2px 12px 0 rgba(0, 0, 0, 0.27);
  }
  &:active{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  &.cta{
    opacity: 1;
    background: $cta-orange;
    &:hover{
      background: #FFA72E;
    }
    &:active{
      background: #FABC61;
    }
  }
}

@media only screen and (max-width: 759px){
  .btn{
    width: 100%;
    box-sizing: border-box;
  }
}