.icon{
  display: inline-block;
  width: 16px;
  height: 16px;
}
.icon-open{
  background: url('/images/icons/open.svg') center center no-repeat transparent;
  background-size: 100%;
}
.icon-pause{
  background: url('/images/icons/pause.svg') center center no-repeat transparent;
  background-size: 70%;
}
.icon-start{
  background: url('/images/icons/play.svg') center center no-repeat transparent;
  background-size: 100%;
}
.icon-edit{
  background: url('/images/icons/edit.svg') center center no-repeat transparent;
  background-size: 100%;
}
.icon-delete{
  background: url('/images/icons/delete.svg') center center no-repeat transparent;
  background-size: 85%;
}