<header>
  <div class="wrapper">
    <div class="left">
      <img src="images/hexagon.png">
      <span>my-box.protonet.info</span>
    </div>
    <div class="right">
      <a href="#/create-app-1" class="btn cta">New App</a>
    </div>
  </div>
</header>

<div class="dashboard">
  <nav>
    <div class="wrapper">
      <a href="" class="active">Dashboard</a>
      <a href="">Configuration</a>
      <a href="">Github</a>
      <a href="">Docs</a>
    </div>
  </nav>

  <div class="teaser">
    <div class="wrapper">
      <h2>Configuration</h2>
    </div>
  </div>

  <div class="configuration">

    <div class="configuration-box material-box">
      <h3>Internet Address</h3>
      <p>Choose an address under which you can publicly access all your apps.</p>
      <div class="full-width"><input type="text" class="text-right" placeholder="your-box-name" value="spongebob" autofocus><span class="protonet-url">.protonet.info</span></div>
    <a href="" class="btn cta">Save</a>
    </div>
    

    <div class="configuration-box material-box">
      <h3>Password</h3>
      <p>Choose a password that allows access to the administration interface. This will also be your SSH root password. Make sure you don’t forget it.</p>
      <input type="password" placeholder="Old password" class="full-width">
      <input type="password" placeholder="New password" class="full-width">
      <input type="password" placeholder="Repeat password" class="full-width">
      <a href="" class="btn cta">Save</a>
    </div>

    <div class="configuration-box material-box">
      <h3>SSH Public Keys</h3>
      <p>SSH Keys are needed to deploy apps.</p>
      <textarea placeholder="Paste new public key" class="full-width"></textarea>
      <a href="" class="btn cta">Add</a>
      <h3 class="existing-keys-headline">Existing Keys</h3>
      <ul class="keys">
        <li><span class="key">ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDXzJji+KK9VeVKtzKna+YFVyGFKtTdEpsyQOVEdVV8zS0z1OaxZxW6rbpiXpa4d2Fbf8dFMXiiAGL2TPrGIsg0y9+87uDmPD4W/+cqqT9AYTmG1Mi4HOy7+yPsQJseEN+g/MDKVol3ozkW9G8U3y183k2bS6TSQqmu8Lf4yLJWHPPkCKLi9ppWQem1F/g1RlsDBoKKYuszGdiqEQE3wSzYwxuElSwlejWa20MukYDwA78uA+Vyt+srthKqYCjsuPMgud0CJHjlNSQ1XZDRtprRKTGuovDtrG2RsH2BzIX5jUZ1s2KynO0QTVTtiIX1dgnX7210wJ2hv5EVcn29GfWg3CXCAUHjiROmLJJrn9Hl+uq/Fl313KiZTu9zPc3qTE+PRDU8FnO6a3gp7vn9Sul0uzxcB9FcKvIXznd0NBxpNx+ier7bKX0g9GPlOAP3cR/dOZWdGCjzYDTQbBHVEzSlVQNceBVI5pyV1L5HjzlGzKriu6+dSvOMjJhw75BfeO//RtA5t7bZgjkfvo+1S8RWvfNffpXlNu6vvv2+9EsAdpMQwEyaqY39ugN2pdCZ3P4Pfrg8KNXmuoCMs2RNYT/vbGHYugKpoXEp17VP6GSSAdYCTS9KsY/1TJAG2Pt0N1eYX/W8oS/WBjR8MK5r1Pe0VzilSFiZ8P6xtyZZ/iKnoQ== christopher.blum@protonet.info</span> <a href="">Remove</a></li>
        <li><span class="key">ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDXzJji+KK9VeVKtzKna+YFVyGFKtTdEpsyQOVEdVV8zS0z1OaxZxW6rbpiXpa4d2Fbf8dFMXiiAGL2TPrGIsg0y9+87uDmPD4W/+cqqT9AYTmG1Mi4HOy7+yPsQJseEN+g/MDKVol3ozkW9G8U3y183k2bS6TSQqmu8Lf4yLJWHPPkCKLi9ppWQem1F/g1RlsDBoKKYuszGdiqEQE3wSzYwxuElSwlejWa20MukYDwA78uA+Vyt+srthKqYCjsuPMgud0CJHjlNSQ1XZDRtprRKTGuovDtrG2RsH2BzIX5jUZ1s2KynO0QTVTtiIX1dgnX7210wJ2hv5EVcn29GfWg3CXCAUHjiROmLJJrn9Hl+uq/Fl313KiZTu9zPc3qTE+PRDU8FnO6a3gp7vn9Sul0uzxcB9FcKvIXznd0NBxpNx+ier7bKX0g9GPlOAP3cR/dOZWdGCjzYDTQbBHVEzSlVQNceBVI5pyV1L5HjzlGzKriu6+dSvOMjJhw75BfeO//RtA5t7bZgjkfvo+1S8RWvfNffpXlNu6vvv2+9EsAdpMQwEyaqY39ugN2pdCZ3P4Pfrg8KNXmuoCMs2RNYT/vbGHYugKpoXEp17VP6GSSAdYCTS9KsY/1TJAG2Pt0N1eYX/W8oS/WBjR8MK5r1Pe0VzilSFiZ8P6xtyZZ/iaDawnoQ== hinnerk.haardt@protonet.info</span> <a href="">Remove</a></li>
      </ul>
    </div>

  </div>

</div>
