<div class="teaser">
  <div class="wrapper">
    <h2>Create An App</h2>
  </div>
</div>

<div class="create-app material-box step-2">
  <ul class="step-bar">
    <li class="done">
      <span>Technology</span>
    </li>
    <li class="done">
      <span>Basic Setup</span>
    </li>
    <li class="active">
      <span>Deploy</span>
    </li>
  </ul>

  <p>Deploy the app to this server</p>

  <p>
    <code>
      git push pep master
    </code>
  </p>

  <p>Your app is now available at:</p>
  <p>
  	<a href="">http://172.20.100.230/name-of-your-app/</a><br>
  	<a href="">https://box-name.protonet.info/name-of-your-app/</a>
  </p>

  <a class="btn cta" href="#/dashboard">Finish</a>

</div>
