<div class="teaser">
  <div class="wrapper">
    <h2>Create An App</h2>
  </div>
</div>

<div class="create-app material-box step-1">
  <ul class="step-bar">
    <li class="active">
      <span>Technology</span>
    </li>
    <li>
      <span>Basic Setup</span>
    </li>
    <li>
      <span>Deploy</span>
    </li>
  </ul>

  <p>Choose a technology for your app:</p>

  <div class="technologies">
    <a href="#/create-app-2">
      <span>Ruby</span>
      <img src="/images/technology-logos/ruby.png">
    </a>
    <a href="#/create-app-2">
      <span>PHP</span>
      <img src="/images/technology-logos/php.png">
    </a>
    <a href="#/create-app-2">
      <span>Node.js</span>
      <img src="/images/technology-logos/nodejs.png">
    </a>
    <a href="#/create-app-2">
      <span>Python</span>
      <img src="/images/technology-logos/python.png">
    </a>
    <a href="#/create-app-2">
      <span>Docker</span>
      <img src="/images/technology-logos/docker.png">
    </a>
  </div>
</div>