<header>
  <div class="wrapper">
    <div class="left">
      <img src="images/hexagon.png">
      <span>my-box.protonet.info</span>
    </div>
    <div class="right">
      <a href="#/create-app-1" class="btn cta">New App</a>      
    </div>
  </div>
</header>

<div class="dashboard">
  <nav>
    <div class="wrapper">
      <a href="" class="active">Dashboard</a>
      <a href="">Configuration</a>
      <a href="">Github</a>
      <a href="">Docs</a>
    </div>
  </nav>

  <div class="teaser">
    <div class="wrapper">
      <h2>Your Apps</h2>
    </div>
  </div>

  <div class="apps">

    <div class="app material-box">
      <figure>
        <img src="images/technology-logos/nodejs.png" alt="nodejs logo">
      </figure>
      <p>
        My-App
        <span>Node.js</span>
      </p>
      <div class="right-bar">
        <span class="green">Running for 234 hours</span>
        <div class="action-bar">
          <a title="open app" href="" class="icon icon-open"></a>
          <a title="pause app" href="" class="icon icon-pause"></a>
          <a title="start app" href="" class="icon icon-start hidden"></a>
          <a title="edit app" href="" class="icon icon-edit"></a>
          <a title="delete app" href="" class="icon icon-delete"></a>
        </div>
      </div>
    </div>

    <div class="app material-box">
      <figure>
        <img src="images/technology-logos/docker.png" alt="html logo">
      </figure>
      <p>
        Pandora
        <span>Docker</span>
      </p>
      <div class="right-bar">
        <span class="orange">Warning!</span>
        <div class="action-bar">
          <a title="open app" href="" class="icon icon-open"></a>
          <a title="pause app" href="" class="icon icon-pause"></a>
          <a title="start app" href="" class="icon icon-start hidden"></a>
          <a title="edit app" href="" class="icon icon-edit"></a>
          <a title="delete app" href="" class="icon icon-delete"></a>
        </div>
      </div>
    </div>

    <div class="app material-box">
      <figure>
        <img src="images/technology-logos/ruby.png" alt="ruby logo">
      </figure>
      <p>
        Something-strange
        <span>Ruby</span>
      </p>
      <div class="right-bar">
        <span class="red">Alert!</span>
        <div class="action-bar">
          <a title="open app" href="" class="icon icon-open"></a>
          <a title="pause app" href="" class="icon icon-pause"></a>
          <a title="start app" href="" class="icon icon-start hidden"></a>
          <a title="edit app" href="" class="icon icon-edit"></a>
          <a title="delete app" href="" class="icon icon-delete"></a>
        </div>
      </div>
    </div>

    <div class="app material-box">
      <figure>
        <img src="images/technology-logos/html.png" alt="html logo">
      </figure>
      <p>
        Hello-world
        <span>HTML5</span>
      </p>
      <div class="right-bar">
        <span>stopped</span>
        <div class="action-bar">
          <a title="open app" href="" class="icon icon-open"></a>
          <a title="pause app" href="" class="icon icon-pause hidden"></a>
          <a title="start app" href="" class="icon icon-start"></a>
          <a title="edit app" href="" class="icon icon-edit"></a>
          <a title="delete app" href="" class="icon icon-delete"></a>
        </div>
      </div>
    </div>

    <div class="app material-box">
      <figure>
        <img src="images/technology-logos/php.png" alt="php logo">
      </figure>
      <p>
        Test-app
        <span>PHP</span>
      </p>
      <div class="right-bar">
        <span>stopped</span>
        <div class="action-bar">
          <a title="open app" href="" class="icon icon-open"></a>
          <a title="pause app" href="" class="icon icon-pause hidden"></a>
          <a title="start app" href="" class="icon icon-start"></a>
          <a title="edit app" href="" class="icon icon-edit"></a>
          <a title="delete app" href="" class="icon icon-delete"></a>
        </div>
      </div>
    </div>

    <div class="app material-box">
      <figure>
        <img src="images/technology-logos/python.png" alt="php logo">
      </figure>
      <p>
        Test-app-2
        <span>Python</span>
      </p>
      <div class="right-bar">
        <span>stopped</span>
        <div class="action-bar">
          <a title="open app" href="" class="icon icon-open"></a>
          <a title="pause app" href="" class="icon icon-pause hidden"></a>
          <a title="start app" href="" class="icon icon-start"></a>
          <a title="edit app" href="" class="icon icon-edit"></a>
          <a title="delete app" href="" class="icon icon-delete"></a>
        </div>
      </div>
    </div>


  </div>

</div>
