Views:<br>
<a href="#/styleguide">Styleguide</a><br>
<a href="#/login">Login</a><br>
<a href="#/welcome-1">Welcome Step 1</a><br>
<a href="#/welcome-2">Welcome Step 2</a><br>
<a href="#/welcome-3">Welcome Step 3</a><br>
<a href="#/welcome-4">Welcome Step 4</a><br>
<a href="#/dashboard">Dashboard</a><br>
<a href="#/configuration">Configuration</a><br>
<a href="#/create-app-1">Create An App Step 1</a><br>
<a href="#/create-app-2">Create An App Step 2</a><br>
<a href="#/create-app-3">Create An App Step 3</a><br>