<div class="welcome-tour">
  <div class="welcome-box material-box">
    <ul class="step-bar">
      <li class="active">
        <span>Welcome</span>
      </li>
      <li>
        <span>Password</span>
      </li>
      <li>
        <span>SSH Public Key</span>
      </li>
      <li>
        <span>Internal Access</span>
      </li>
    </ul>

    <p>
      Thanks for choosing Protonet’s Experimental Platform. The system just needs a few settings from you before you can start creating apps and fiddling around.
    </p>

    <a href="#/welcome-2" class="btn cta">Begin Setup</a>
  </div>
</div>