<div class="welcome-tour">
  <div class="welcome-box material-box">
    <ul class="step-bar">
      <li class="done">
        <span>Welcome</span>
      </li>
      <li class="done">
        <span>Password</span>
      </li>
      <li class="done">
        <span>SSH Public Key</span>
      </li>
      <li class="active">
        <span>Internet Access</span>
      </li>
    </ul>

    <p>
      Choose an address under which you can publicly access all your apps.<br><br>
    </p>

    <div class="full-width"><input type="text" class="text-right" placeholder="your-box-name" autofocus><span class="protonet-url">.protonet.info</span></div>
    <a href="#/dashboard" class="btn cta">Finish Setup</a>
  </div>
</div>