html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  background-color: #F3F3F3;
  font-size: 100%;
  font-family: "Protonet Text", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container,
.container > div{
  height: 100%;
}

h1{
  font-size: 34px;
  color: $text-black;
  font-weight: normal;
  margin: 0 0 20px;
}

p{
  margin: 0 0 30px;
  font-size: 18px;
}

a{
  color: #57A4F9;
}


.hidden{
  display: none!important;
}