<div class="teaser">
  <div class="wrapper">
    <h2>Configuration</h2>
  </div>
</div>

<div class="configuration">

  <form class="configuration-box material-box" ng-submit="setPublishToWeb()">
    <h3>Internet Address</h3>
    <p>Choose an address under which you can publicly access all your apps.</p>
    <div class="full-width"><input type="text" class="text-right" placeholder="your-box-name" ng-model="nodename" ng-disabled="loading" autofocus><span class="protonet-url">.protonet.info</span></div>
    <div class="full-width">
      <label><input type="checkbox" ng-model="ptwEnabled" ng-disabled="loading"> enabled</label>
    </div>
    <button class="btn cta" type="submit" ng-disabled="loading">Save</button>
  </form>
  

  <form class="configuration-box material-box" ng-submit="setPassword()">
    <h3>Password</h3>
    <p>Choose a password that allows access to the administration interface. This will also be your SSH root password. Make sure you don’t forget it.</p>
    <input type="password" placeholder="Old password" class="full-width" ng-disabled="loading" ng-model="currentPassword">
    <input type="password" placeholder="New password" class="full-width" ng-disabled="loading" ng-model="newPassword">
    <input type="password" placeholder="Repeat password" class="full-width" ng-disabled="loading" ng-model="newPasswordConfirmation">
    <button class="btn cta" type="submit" ng-disabled="loading">Save</button>
  </form>

  <form class="configuration-box material-box" ng-submit="addKey()">
    <h3>SSH Public Keys</h3>
    <p>SSH Keys are needed to deploy apps.</p>
    <textarea placeholder="Paste new public key" class="full-width" ng-model="key" ng-disabled="loading"></textarea>
    <button class="btn cta" type="submit" ng-disabled="loading">Add</button>
    <div ng-if="keys.length">
      <h3 class="existing-keys-headline">Existing Keys</h3>
      <ul class="keys">
        <li ng-repeat="key in keys"><span class="key">{{key.description}}</span> <a ng-click="removeKey(key)">Remove</a></li>
      </ul>
    </div>
  </form>

</div>