<div class="teaser">
  <div class="wrapper">
    <h2>Create An App</h2>
  </div>
</div>

<div class="create-app material-box step-2">
  <ul class="step-bar">
    <li class="done">
      <span>Technology</span>
    </li>
    <li class="active">
      <span>Basic Setup</span>
    </li>
    <li>
      <span>Deploy</span>
    </li>
  </ul>

  <p>Get the node.js hello world example:</p>

  <p>
    <code>
      git clone https://github.com/heroku/node-js-sample.git
      <br>
      cd node-js-sample
    </code>
  </p>

  <p>Choose a name and add git remote:</p>

  <p>
    <code>
      git remote add pep ssh://dokku@172.20.100.230:8022/app-name
    </code>
  </p>

  <a class="btn cta" href="#/create-app-3">Next Step</a>


  
</div>
