<div class="teaser">
  <div class="wrapper">
    <h2>Create An App</h2>
  </div>
</div>

<div class="create-app material-box step-1">
  <ul class="step-bar">
    <li class="active">
      <span>Technology</span>
    </li>
    <li>
      <span>Basic Setup</span>
    </li>
    <li>
      <span>Deploy</span>
    </li>
  </ul>

  <p>Choose a technology for your app:</p>

  <div class="technologies">
    <a href="#/create-app-2?type=rails">
      <span>Rails</span>
      <img src="images/technology-logos/rails.png">
    </a>
    <a href="#/create-app-2?type=php">
      <span>PHP</span>
      <img src="images/technology-logos/php.png">
    </a>
    <a href="#/create-app-2?type=node.js">
      <span>Node.js</span>
      <img src="images/technology-logos/nodejs.png">
    </a>
    <a href="#/create-app-2?type=python">
      <span>Python</span>
      <img src="images/technology-logos/python.png">
    </a>
    <a href="#/create-app-2?type=html5">
      <span>HTML / nginx</span>
      <img src="images/technology-logos/nginx.png">
    </a>
    <a href="#/create-app-2?type=docker">
      <span>Docker</span>
      <img src="images/technology-logos/docker.png">
    </a>
  </div>
</div>
