<div class="teaser">
  <div class="wrapper">
    <h2>My Apps <span class="loading-indicator" ng-if="!loaded()"></span></h2>
  </div>
</div>

<div class="apps">
  <div class="no-apps" ng-if="!apps.length && loaded()">You don't have any apps, yet. It only takes 3 minutes to <a href="#/create-app-1">create</a> one.</div>
  
  <div class="app material-box" ng-repeat="app in apps track by app.name" ng-class="{ loading: app.loading }">
    <figure>
      <img ng-src="{{getTechIcon(app)}}" alt="nodejs logo">
    </figure>
    <p>
      {{app.name}}
      <span>{{app.app_type}}</span>
    </p>
    <div class="right-bar">
      <span class="status" ng-class="{ green: app.state == 'started', red: app.state == 'error' }">{{loading ? app.loadingState : app.state}}</span>
      <div class="action-bar">
        <a title="Open" ng-if="app.state == 'started'" ng-click="openApp(app)" class="icon icon-open"></a>
        <a title="Stop" ng-if="app.state == 'started'" ng-click="stopApp(app)" class="icon icon-pause"></a>
        <a title="Start" ng-if="app.state == 'stopped'" ng-click="startApp(app)" class="icon icon-start"></a>
        <a title="Delete" ng-click="deleteApp(app)" class="icon icon-delete"></a>
      </div>
    </div>
  </div>


</div>
