<div class="styleguide">
  <h1>Material Box</h1>
  <div class="material-box center">Content Whooot</div>

  <h1>Buttons</h1>
  <a href="" class="btn cta">Button CTA</a>

  <h1>Header</h1>
  <header>
    <div class="wrapper">
      <div class="left">
        <img src="images/hexagon.png"> 
        <span>my-box.protonet.info</span>
      </div>
      <div class="right">
        <a href="" class="btn cta">Button CTA</a>      
      </div>
    </div>
  </header>

  <h1>Navigation</h1>
  <nav>
    <div class="wrapper">
      <a href="" class="active">Dashboard</a>
      <a href="">Configuration</a>
      <a href="">Github</a>
      <a href="">Docs</a>
    </div>
  </nav>

  <h1>Teaser</h1>
  <div class="teaser">
    <div class="wrapper">
      <h2>Dashboard</h2>
    </div>
  </div>

  <h1>Form fields</h1>
  <input type="password" placeholder="Password">

  <br><br>

  <input type="text" class="text-right" placeholder="your-box-name">

  <br><br>

  <textarea placeholder="SSH Public Key"></textarea>

  <h1>Steps-Bar</h1>
  <ul class="step-bar">
    <li class="done">
      <span>Foo Fancy</span>
    </li>
    <li class="active">
      <span>Bar Barzy</span>
    </li>
    <li>
      <span>Baz Bazinga!</span>
    </li>
  </ul>

  <h1>Code</h1>
  <code>
    sudo deluser foobarbaz <br>
    sudo mkdir whatup
  </code>

  <h1>App</h1>
  <div class="app material-box">
    <figure>
      <img src="images/technology-logos/ruby.png" alt="ruby logo">
    </figure>
    <p>
      My-App
      <span>Node.js</span>
    </p>
    <div class="right-bar">
      <span class="green">Running for 234 hours</span>
      <div class="action-bar">
        <a title="open app" href="" class="icon icon-open"></a>
        <a title="pause app" href="" class="icon icon-pause"></a>
        <a title="start app" href="" class="icon icon-start"></a>
        <a title="edit app" href="" class="icon icon-edit"></a>
        <a title="delete app" href="" class="icon icon-delete"></a>
      </div>
    </div>
  </div>

</div>