<div class="welcome-tour">
  <div class="welcome-box material-box">
    <ul class="step-bar">
      <li class="done">
        <span>Welcome</span>
      </li>
      <li class="done">
        <span>Password</span>
      </li>
      <li class="done">
        <span>SSH Public Key</span>
      </li>
      <li class="active">
        <span>Internet Access</span>
      </li>
    </ul>

    <p>
      Choose an address under which you can publicly access all your apps.<br><br>
    </p>

    <form ng-submit="setPublishToWeb()">
      <div class="full-width"><input type="text" class="text-right" placeholder="your-box-name" ng-model="nodename" autofocus><span class="protonet-url" ng-model="nodename">.protonet.info</span></div>
      <button class="btn cta" type="submit">Finish Setup</button>
    </form>
  </div>
</div>