<div class="welcome-tour">
  <div class="welcome-box material-box">
    <ul class="step-bar">
      <li class="done">
        <span>Welcome</span>
      </li>
      <li class="active">
        <span>Password</span>
      </li>
      <li>
        <span>SSH Public Key</span>
      </li>
      <li>
        <span>Internet Access</span>
      </li>
    </ul>

    <p>
      Choose a password that allows access to the administration interface. This will also be your SSH root password. Make sure you don’t forget it. <strong>There's no easy way to reset it.</strong>
    </p>

    <form ng-submit="setPassword()">
      <input type="password" placeholder="Set a password" class="full-width" autofocus ng-model="password" ng-disabled="loading">
      <input type="password" placeholder="Repeat password" class="full-width" ng-model="passwordConfirmation" ng-disabled="loading">
      <button class="btn cta" type="submit">Next Step</button>
    </form>
  </div>
</div>