<div class="welcome-tour">
  <div class="welcome-box material-box">
    <ul class="step-bar">
      <li class="done">
        <span>Welcome</span>
      </li>
      <li class="done">
        <span>Password</span>
      </li>
      <li class="active">
        <span>SSH Public Key</span>
      </li>
      <li>
        <span>Internet Access</span>
      </li>
    </ul>

    <p>
      The system needs your <a href="https://help.github.com/articles/generating-ssh-keys/" target="_blank">public key</a> to let you deploy apps.
    </p>

    <form ng-submit="setPublicKey()">
      <textarea placeholder="Paste your SSH public key" autofocus class="full-width" ng-model="publicKey"></textarea>
      <button class="btn cta" type="submit">Next Step</button>
    </form>
  </div>
</div>