@font-face {
  font-family: "Protonet Text";
  src: url("../fonts/proxima_nova_cond_reg.woff") format("woff");
}

@font-face {
  font-family: "Protonet Text";
  src: url("../fonts/proxima_nova_cond_light.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Protonet Text";
  src: url("../fonts/proxima_nova_cond_bold.woff") format("woff");
  font-weight: bold;
}

.code{
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}