.styleguide{
  padding: 30px;
}

.wrapper{
  width: 980px;
  margin: 0 auto;
}

@media only screen and (max-width: 759px){
  .wrapper{
    width: 94%;
    margin: 0 2%;
  }
}

@media only screen and (min-width: 759px) and (max-width: 980px){
  .wrapper{
    width: 550px;
  }
}