html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #F3F3F3;
  font-size: 100%;
}

body, textarea, select, input, button {
  font-family: "Protonet Text", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container,
.container > div{
  height: 100%;
}

h1{
  font-size: 34px;
  color: $text-black;
  font-weight: normal;
  margin: 0 0 20px;
}

p{
  margin: 0 0 30px;
  font-size: 18px;
}

a{
  cursor: pointer;
  color: #57A4F9;
}


.hidden{
  display: none!important;
}

.full-width {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.loading-indicator {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: url(../images/spinner.gif) no-repeat center center;
  background-size: 100% auto;
}

.loading-indicator.ng-leave {
  transition: transform 0.3s, opacity 0.3s;
}

.loading-indicator.ng-leave.ng-leave-active {
  transform: scale(0);
  opacity: 0;
}

.loading-indicator.small {
  margin-top: -3px;
  width: 18px;
  height: 18px;
}

@media only screen and (max-width: 759px){
  h1{
    font-size: 28px;
  }
  p{
    margin: 0 0 15px;
    font-size: 14px;
  }
}