$text-black:		  #4A4A4A;
$background-grey:     #F3F3F3;
$grey:                #DDDDDD;
$dark-grey:           #BBBBBB;
$cta-orange:          #FF9800;
$cta-blue:            #5892FC;
$link-blue:           #57A4F9;
$black:               #1A1C1F;
$white:               #ffffff;
$green:               #44AF47;
$red:                 #cc2929;