.configuration-box {
  margin: 0 auto 30px;
  width: 700px;
  display: block;

  .protonet-url {
    font-size: 18px;
  }

  .keys {
    padding-left: 30px;
  }
  
  .key {
    
  }

  .existing-keys-headline {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 759px){
  .configuration-box {
      width: 96%;
  }
}