.welcome-tour{
  height: 100%;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  font-size: 18px;
  .welcome-box{
    margin: 0 auto;
    width: 700px;
    height: 275px;
    text-align: center;
    textarea{
      width: 305px;
    }
    .protonet-url{
      margin-right: 10px;
      padding-bottom: 4px;
      border-bottom: 1px solid #9E9E9E;
    }
  }
}

@media only screen and (max-width: 759px){
  .welcome-tour{
    .welcome-box{
      width: 96%;
      height: auto;
      margin: 0 2%;
      textarea{
        width: 100%;
      }
      .protonet-url{
        display: none;
      }
      .text-right{
        text-align: left;
      }
    }
  }
}