.install-update {
  height: 100%;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);

  img {
    margin-bottom: 20px;
  }
  
  .install-update-box{
    margin: 0 auto;
    padding: 40px;
    text-align: center;
  }

  .install-update-status-table {
    margin-top: 30px;
    tbody td {
      padding: 10px;
      &:first-child {
        text-align: left;
      }
    }
  }
}