<div class="welcome-tour">
  <div class="welcome-box material-box">
    <ul class="step-bar">
      <li class="done">
        <span>Welcome</span>
      </li>
      <li class="done">
        <span>Password</span>
      </li>
      <li class="active">
        <span>SSH Public Key</span>
      </li>
      <li>
        <span>Internal Access</span>
      </li>
    </ul>

    <p>
      The system needs your <a href="">public key</a> to let you deploy apps.
    </p>

    <textarea placeholder="SSH Public Key"></textarea> <a href="#/welcome-4" class="btn cta">Next Step</a>
  </div>
</div>